/* For Desktop: */

.col-1 {width: 33.3%}
.col-2 {width: 33.3%}
.col-3 {width: 33.3%}

@media only screen and (max-width: 768px) {
    /* For mobile Phones */
    [class*="col-"] {
        width: 100%;
    }

}
body {
    background-image: url("https://media.giphy.com/media/43n7h7h3IBqDK/giphy.gif");
    background-color: teal;
}

h1 {
    background-color: teal;
    color: red;
    margin-left: 20px;
    text-shadow: 4 px 4 px firebrick;
}

h2 {
    text-align: left;
    align-content: center;
    color: darkblue;
    text-decoration: blue;
}